#home-banner {
	.carousel {
		.carousel-indicators {
			li {
				width: 10px;
				height: 10px;
				border-radius: 9999px;
				margin: 6px;
			}
		}
		.carousel-inner {
			.carousel-item {
				.img-container {
					background-size: cover;
					padding: 20%;
				}
			}
		}
		.carousel-control-prev,
		.carousel-control-next {
			font-size: 30px;
		}
	}
}

#log-in {
	background-color: $bg-grey;

	.container {

		h1 {
			font-weight: bold;
		}

		.row {
			margin: auto;
			width: 100%;
			max-width: 350px;

			form {
				width: 100%;

				#input-form {

					h3 {
						text-align: left;
					}

					p {
						font-size: 20px;
					}

					input {
						height: 50px;
						padding-left: 20px;
						border: 1px solid #ccc;
						width: 100%;
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}

#about-header {
	.container {
		ul {
			border: 0 solid;
			li {
				display: inline-block;
				a {
					display: inline-block;
					border-bottom: 5px solid transparent;
					color: $text-dark-grey;
					text-decoration: none;
					font-weight: 700;
					&.active {
						border-color: $text-dark-grey;
					}
				}
			}
		}
	}
}

#home-featured {
	background-color: #FFFFFF;

	.row {
		margin-top: 20px;
	}	
}

#home-announcements {
	background-color: #F1F1F1!important;
	
	.row {
		margin-top:20px;
	}

	.lead{
		font-size: 1.10rem;
		color: black;
		text-align: center;
	}	
}

#calendar {
	.container {
		& > ul.list-inline {
			text-align: center;
			.title {
				font-weight: bold;
				font-size: 30px;
				color: $theme-color;
			}
			.btn-link,
			.btn-link:hover {
				text-decoration: none;
				color: $theme-color;
				display: flex;
				align-items: center;
				.fa {
					margin: 0 8px;
				}
			}
		}
		& > p {
			max-width: 700px;
			margin: 5px auto;
			a {
				text-decoration: none;
				color: $theme-color;
			}
		}
		table {
			max-width: 700px;
			margin: 0 auto;
			thead,
			tbody {
				th,
				td {
					border-width: 0 !important;
				}
				th {
					text-align: center;
					padding: 5px !important;
					background-color: $theme-color;
					color: white;
					border-bottom-width: 1px;
				}
				td {
					text-align: center;
					background-color: white;
					a {
						color: black;
						&:hover {
							text-decoration: none;
						}
					}
				}
				td:nth-of-type(1),
				td:nth-of-type(7) {
					color: $theme-color;
					a {
						color: $theme-color;
					}
				}
				td.has-posts {
					position: relative;
					z-index: 2;
					&::before {
						content: " ";
						padding: 18px;
						max-width: 25px;
						margin: 0 auto;
						background-color: $bg-grey;
						position: absolute;
						border-radius: 9999px;
						right: 0;
						left: 0;
						top: 7px;
						z-index: -1;
					}
				}
				td.today {
					position: relative;
					z-index: 2;
					color: white;
					a {
						color: white;
					}
					&::before {
						content: " ";
						padding: 18px;
						max-width: 25px;
						margin: 0 auto;
						background-color: $theme-color;
						position: absolute;
						border-radius: 9999px;
						right: 0;
						left: 0;
						top: 7px;
						z-index: -1;
					}
				}
			}
			tfoot {
				background-color: $bg-grey;
				tr {
					td {
						& > h3 {
							font-size: 1rem;
							background-color: $bg-grey;
							&::after {
								content: ' ';
								//border-bottom: 1px solid black;
								width: 250px;
								height: 11px;
								position: absolute;
								right: 0;
								left: 0;
								margin: 0 auto;
							}
						}
						& > ul {
							li {
								& > .icon {
									align-items: center;
									justify-content: center;
									font-size: 2rem;
								}
								& > .content {
									.subheading {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


#contact-us {
	.form-control {
		border-radius: 0;
		&:focus {
			box-shadow: initial;
			border-color: $theme-color;
		}
	}
	#map-is-loading + iframe {
		width: 100%!important;
		height: 350px!important;
	}
}


#responsive-tab {
	.nav-tabs {
		display: none;

}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;


	&--vertical {
		border-bottom: none;
		border-right: 1px solid $color-border;
		display: flex;
		flex-flow: column nowrap;
	}
	
	&--left {
		margin: 0 $padding-base;
		
		.nav-item + .nav-item {
			margin-top: .25rem;
		}
		
		.nav-link {
			transition: border-color .125s ease-in;
			white-space: nowrap;
			
			&:hover {
				background-color: lighten($color-border, 10%);
				border-color: transparent;
			}
		}
		
		.nav-link.active {
			border-bottom-color: $color-border;
			border-right-color: $color-body;
			border-bottom-left-radius: $border-radius;
			border-top-right-radius: 0;
			margin-right: -1px;
			
			&:hover {
				background-color: $color-body;
				border-color: $color-link $color-body $color-link $color-link;
			}
		}
	}
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-pane {
        display: block !important;
        opacity: 1;
    }
}
}
