footer {
	color: white;         
	text-align: justify;
	background-color: $theme-color; 
  a.fab{
  	color:$theme-color;
  	text-decoration:none;
  }
	span.fac {
		background-color: white;
		color: $theme-color;
		display: inline-block;
		border-radius: 40px;
		width: 40px;
		height: 40px;
		padding: 8px 6px;
		font-size: 1.5em;
		margin: 10px 10px;
	}
}

