.navbar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 1px 4px 0 rgba(0, 0, 0, 0.02);
	small {
 		font-size: 12px;
 	}
	.img-fluid {
	 	width: 60px;
	 	height: 60px;
  	} 
 	.navbar-brand {
	 	color: $theme-color;
	 	line-height: 1.1;
	 	position: relative;
	    top: 10px;
		left: 25px;
		p {
			b {
				letter-spacing: 4px;
			}
		}
	}
	.nav-item {
		margin: 0 10px;
		.nav-link {
			color: black !important;
		}
		&.active {
			.nav-link {
				color: $theme-color !important;
			}
		}
	}
	.navbar-toggler {
		span  {
			color: $theme-color !important;
		}
	}
	a.navbar-brand{
		font-size:1.25em;
	}
}