body {
    margin-top: 76px;
}

a, a:focus, button, button:focus {
    outline: none;
    box-shadow: initial;
}
 
.bg-grey {
    background-color: $bg-grey;
}

.bg-theme-color {
    background-color: $theme-color;
    border-width: 0;
}

.color-theme-color {
    color: $theme-color;
}